@model IEnumerable<SommarkuleAlliansen.Models.caretaker>

@{
    ViewBag.Title = "Caretaker";
}
@{bool justSentMessage = false; }
<div  style="border-radius:5px; background-color:white; padding:10px; margin-top:5%; opacity: 0.9;">
    <table class="table">
        <tr>
            <th style="border:none;">
                Namn
            </th>
            <th style="border:none;">
                Nummer
            </th>
            <th style="border:none;">
                Mail
            </th>
            <th style="border:none;">
                Adress
            </th>
            <th style="border:none;">
                Betalt
            </th>
            <th style="border:none;">
                Betala
            </th>
            <td style="border:none;">Vårdnadshavare | @Html.ActionLink("Barn", "Child")</td>

        </tr>
        @foreach (var item in Model)
        {
            if (item.debt > 1)
            {
                <style>
                    .bg_color {
                        background-color: #ff8080;
                    }
                </style>
            }
            else
            {
                <style>
                    .bg_color {
                        background-color: #00b300;
                    }
                </style>
            }
            <tr>
                <td class="bg_color">
                    @Html.DisplayFor(modelItem => item.caretaker_name)
                </td>
                <td class="bg_color">
                    @Html.DisplayFor(modelItem => item.caretaker_number)
                </td>
                <td class="bg_color">
                    @Html.DisplayFor(modelItem => item.caretaker_email)
                </td>
                <td class="bg_color">
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td class="bg_color">
                    <input size="2" type="text" name="Payment" />
                </td>
                <td class="bg_color">
                    @Html.DisplayFor(modelItem => item.debt):-
                </td>
                <td class="bg_color">
                    @Html.ActionLink("Visa mer", "Details", new { id = item.caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = item.caretaker_id })
                </td>
            </tr>
        }
    </table>
</div>