@model IEnumerable<SommarkuleAlliansen.Models.caretaker>

@{
    ViewBag.Title = "Caretaker";
}
@{bool justSentMessage = false; }
<div  style="border-radius:5px; background-color:white; padding:10px; margin-top:5%; opacity: 0.9;">
    <table class="table">
        <tr>
            <th style="border:none;">
                Namn
            </th>
            <th style="border:none;">
                Nummer
            </th>
            <th style="border:none;">
                Mail
            </th>
            <th style="border:none;">
                Adress
            </th>
            <th style="border:none;">
                Betalt
            </th>
            <th style="border:none;">
                Betala
            </th>
            <td style="border:none;">Vårdnadshavare | @Html.ActionLink("Barn", "Child")</td>

        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td id="@i">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).caretaker_name)
                </td>
                <td id="@i">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).caretaker_number)
                </td>
                <td id="@i">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).caretaker_email)
                </td>
                <td id="@i">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).adress)
                </td>
                <td id="@i">
                    <input size="2" type="text" name="Payment" />
                </td>
                <td id="@i">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).debt):-
                </td>
                <td id="@i">
                    @Html.ActionLink("Visa mer", "Details", new { id = Model.ElementAt(i).caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = Model.ElementAt(i).caretaker_id })
                </td>
            </tr>
        }
    </table>
    <p onload="changeBackgroundColor()"></p>
</div>
<script>
    function changeBackgroundColor()
    {
        for (var i = 0; i < Model.Count(); i++) {
            if (Model.ElementAt(i).debt > 1) {
                document.getElementById(k).style.backgroundColor = "#578c57";
                document.getElementById(k).style.color = "#ff6666";
            }
            else {
                document.getElementById(k).style.backgroundColor = "#578c57";
                document.getElementById(k).style.color = "#ff6666";
            }
        }
    }
</script>