@model IEnumerable<SommarkuleAlliansen.Models.caretaker>

@{
    ViewBag.Title = "Caretaker";
}
<div  style="border-radius:5px; background-color:white; padding:10px; margin-top:5%;">
    <table class="table">
        <tr>
            <th>
                Namn
            </th>
            <th>
                Nummer
            </th>
            <th>
                Mail
            </th>
            <th>
                Adress
            </th>
            <th>
                Kontaktperson
            </th>
            <th>
                Kontaktnmr
            </th>
            <th>
                Skuld
            </th>
            <th>
                Betalt
            </th>
            <th>
                Betala
            </th>
            <td>Vårdnadshavare | @Html.ActionLink("Barn", "Child")</td>

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.caretaker_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caretaker_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caretaker_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alternative_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alternative_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debt):-
            </td>
            <td>
                <input size="1" type="text" name="Payment"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debt):-
            </td>
            <td>
                @Html.ActionLink("Visa mer", "Details", new { id = item.caretaker_id }) | @Html.ActionLink("Redigera", "Edit", new { id = item.caretaker_id })
            </td>
        </tr>
        }
    </table>
</div>