@model IEnumerable<SommarkuleAlliansen.ViewModel.ChildCaretakerLocationVM>

@{
    ViewBag.Title = "Barn";
}
<div class="standardStyle">
    <table class="table">
        <tr>
            <th class="removeBorder">
                Namn
            </th>
            <th class="removeBorder">
                Födelsedatum
            </th>
            <th class="removeBorder">
                Tröjstorlek
            </th>
            <th class="removeBorder">
                Förening
            </th>
            <th class="removeBorder">
                Period
            </th>
            <th class="removeBorder">
                Vårdnadshavare
            </th>
            <td class="removeBorder">@Html.ActionLink("Vårdnadshavare", "Caretaker") | Barn</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @String.Format("{0:yyy/MM/dd}", item.birth_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shirt_size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weeks)
                </td>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.caretaker_name).ToString(), "Details", new { id=item.caretaker_id })
                </td>
                <td>
                    @Html.ActionLink("Visa mer", "DetailsChild", new { id=item.child_id }) |
                    @Html.ActionLink("Redigera", "EditChild", new { id=item.child_id })
                </td>
            </tr>
        }
    </table>
</div>
