@model SommarkuleAlliansen.ViewModel.ChildCaretakerLocationVM

@{
    ViewBag.Title = "DetailsChild";
}
<style>
        * {
        box-sizing: border-box;
    }

    .box {
        float: left;
        width: 33.33%;
        padding: 20px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<div>
    <dl class="dl-horizontal">
        <div style="margin-top: 5%; opacity: 0.9;" class="clearfix">
            <div class="box" style="border-radius: 5px; background-color:white; margin-right:2%; width: 32%;">
                <h4>Vårdnadshavare</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.DisplayFor(model => model.caretaker_name)</p>
                <b style="margin-bottom: 0px;">Nummer:</b>
                <p>@Html.DisplayFor(model => model.caretaker_number)</p>
                <b style="margin-bottom: 0px;">Email:</b>
                <p>@Html.DisplayFor(model => model.caretaker_email)</p>
                <b style="margin-bottom: 0px;">Adress:</b>
                <p>@Html.DisplayFor(model => model.adress)</p>
                <b style="margin-bottom: 0px;">Alternativt Namn:</b>
                <p>@Html.DisplayFor(model => model.alternative_name)</p>
                <b style="margin-bottom: 0px;">Alternativt Nummer:</b>
                <p>@Html.DisplayFor(model => model.alternative_number)</p>
            </div>
            <div class="box" style="border-radius: 5px;background-color:white; margin-right: 2%; width: 32%;">
                <h4>Barn</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.DisplayFor(model => model.name)</p>
                <b style="margin-bottom: 0px;">Födelsedatum:</b>
                <p>@String.Format("{0:yyy/MM/dd}", Model.birth_date)</p>
                <b style="margin-bottom: 0px;">Tröjstorlek:</b>
                <p>@Html.DisplayFor(model => model.shirt_size)</p>
                @if (Model.comment != "")
                {
                    <b style="margin-bottom: 0px;">Kommentar:</b>
                    <p>@Model.comment</p>
                }
                <b style="margin-bottom: 0px;">Simmkunnighet:</b>
                <p>@Html.DisplayFor(model => model.can_swim)</p>
                <b style="margin-bottom: 0px;">Tillåt att barnet är med på foton:</b>
                <p>@Html.DisplayFor(model => model.allow_photos)</p>
                <b style="margin-bottom: 0px;">Barnet vaccinerat mot stelkramp:</b>
                <p>@Html.DisplayFor(model => model.vaccinated)</p>

            </div>
            <div class="box" style="border-radius: 5px; background-color:white; width: 32%;">
                <h4>Förening och veckor</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.DisplayFor(model => model.location_name)</p>
                <b style="margin-bottom: 0px;">Adress:</b>
                <p>@Html.DisplayFor(model => model.location_adress)</p>
                <b style="margin-bottom: 0px;">Anmäld för Period:</b>
                <p>@Html.DisplayFor(model => model.weeks)</p>
            </div>
        </div>
    </dl>
</div>
