@model SommarkuleAlliansen.Models.child

@{
    ViewBag.Title = "EditChild";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div style="border-radius:5px; background-color:white; padding:10px; margin-top:5%; opacity: 0.9;">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none;">
            @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.child_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.child_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Namn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Födelsedatum</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.birth_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.birth_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Tröjstorlek</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.shirt_size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.shirt_size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Kommentar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Simmkunnig</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.can_swim)
                    @Html.ValidationMessageFor(model => model.can_swim, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Tillåt foto</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.allow_photos)
                    @Html.ValidationMessageFor(model => model.allow_photos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label style="padding-left:15px;">Vaccinerat</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.vaccinated)
                    @Html.ValidationMessageFor(model => model.vaccinated, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
</div>
}
