@model IEnumerable<SommarkuleAlliansen.ViewModel.GroupLocationVM>

@{
    ViewBag.Title = "Grupper";
}
<div class="standardStyle">
    <table class="table">
        <tr>
            <th class="removeBorder">
                Gruppnummer
            </th>
            <th class="removeBorder">
                Antal barn i gruppen
            </th>
            <th class="removeBorder">
                Åldersgrupp
            </th>
            <th class="removeBorder">
                Period
            </th>
            <th class="removeBorder"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.group_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.count)
                </td>
                <td>@Html.DisplayFor(modelItem => item.birth_year)</td>
                <td>@Html.DisplayFor(modelItem => item.weeks)</td>
                <td>
                    @Html.ActionLink("Visa grupp", "GroupDetails", new { id = item.group_id })
                </td>
            </tr>
        }

    </table>
</div>

