@model IEnumerable<SommarkuleAlliansen.ViewModel.GroupLocationVM>

@{
    ViewBag.Title = "Grupper";
    DateTime currentDate = DateTime.Now;
}
<div class="standardStyle">
    <table class="table">
        <tr>
            <th style="border-top: none">
                <div class="ChangeContent"><span>Gruppnummer</span></div>
            </th>
            <th id="HideFromMobile4" style="border-top: none">
                Antal barn i gruppen
            </th>
            <th style="border-top: none">
                <div class="ChangeContent3"><span>Åldersgrupp</span></div>
            </th>
            <th style="border-top: none">
                Period
            </th>
            <th style="border-top: none"></th>
        </tr>

        @foreach (var item in Model)
        {
            if (currentDate < item.end_date)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.group_id)
                    </td>
                    <td id="HideFromMobile4">
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth_year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.weeks)
                    </td>
                    <td>
                        @Html.ActionLink("Visa grupp", "GroupDetails", new { id = item.group_id })
                    </td>
                </tr>
            }
        }

    </table>
</div>

