@model IList<SommarkuleAlliansen.ViewModel.ChildGroupVM>

@{
    ViewBag.Title = "Gruppdetaljer";
    int presentCounter = 0;
}
        <div class="standardStyle">
            @using (Html.BeginForm("GroupDetails", "Employe", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                for (int i = 0; i < Model.Count(); i++)
                {
                    if (Model.ElementAt(i).present == true)
                    {
                        presentCounter++;
                    }
                }

                <b style="padding-left:12px;">Antal barn: @Model.Count</b>
                <br />
                <b style="padding-left:12px;">Närvarande: @presentCounter</b>
                <table class="table">
                    <tr>
                        <th style="display:none" name="@Model.ElementAt(0).child_id">
                            @Model.ElementAt(0).child_id
                            @Html.HiddenFor(m => Model.ElementAt(0).child_id)
                        </th>
                        <th style="display:none" name="@Model.ElementAt(0).group_id">
                            @Model.ElementAt(0).group_id
                            @Html.HiddenFor(m => Model.ElementAt(0).group_id)
                        </th>
                        <th style="border:none;">
                            För- och Efternamn
                        </th>
                        <th style="border:none;">
                            Kommentar
                        </th>
                        <th style="border:none;">
                            Födelsedatum
                        </th>
                        <th style="border:none;">
                            Närvaro
                        </th>
                    </tr>

                    @Html.AntiForgeryToken()
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                    <tr>
                        <td style="display:none" name="@Model[i].child_id">
                            @Model[i].child_id
                            @Html.HiddenFor(m => Model[i].child_id)
                        </td>
                        <td style="display:none" name="@Model[i].group_id">
                            @Model[i].group_id
                            @Html.HiddenFor(m => Model[i].group_id)
                        </td>
                        <td>
                            @Html.ActionLink(Model[i].name, "DetailsChild", "Admin", new { id = Model[i].child_id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].comment)
                        </td>
                        <td>
                            @String.Format("{0:yyyy/MM/dd}", Model[i].birth_date)
                        </td>
                        <td style=" padding-left: 40px; padding-top: 0; padding-bottom: 0;" name="@Model[i].present">
                            @Html.CheckBoxFor(m => Model[i].present, new { @class = "form-radio-css"})
                        </td>
                    </tr>
                    }
                </table>
                <input type="submit" value="Rapportera närvaro" style="margin-bottom:3%;" class="btn btn-outline-secondary" />
            }
        </div>
