<!DOCTYPE html>
@if (Session["employe_type"] == null)
{
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
        .hidden {
            display: none;
        }
        .bg-fixes {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body class="bg-fixes" background="~/Content/images/footballfield.jpg">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Sommarkulan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Hem", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Anmälan", "Register", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item hidden">@Html.ActionLink("Adminsida", "Caretaker", "Employe", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                <div style="float: left">
                    <p style="margin-bottom: 1px;">Hagaströms SK</p>
                    <p style="margin-bottom: 1px;">Hagaströms IP, Basvägen 23</p>
                    <p style="margin-bottom: 1px;">kansli@hagastromssk.se</p>
                    <a style="margin-bottom: 1px;" href="http://www.hagastromssk.se">Till HSK hemsida</a>
                </div>
                <div style="margin-bottom: 5%; float: right">
                    <p style="margin-bottom: 1px;">Strömsbro</p>
                    <p style="margin-bottom: 1px;">Testebovallen, Hillevägen 14</p>
                    <p style="margin-bottom: 1px;">kansli@stromsbroif.se</p>
                    <a style="margin-bottom: 1px;" href="http://www.stromsbroif.se">Till SIF hemsida</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
