<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
@if (Session["employe_type"] == null)
{
    <style>
        .hidden {
            display: none;
        }
    </style>
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sommarkulan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/extraStyles.css")
</head>
<body class="bg-fixes" style="background:url(../../Content/images/grass.jpg)">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Sommarkulan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Hem", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Anmälan", "Register", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown hidden">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Adminsida
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Vårdnadshavare", "Caretaker", "Admin", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Barn", "Child", "Admin", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Anställda", "Employe", "Admin", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item hidden">@Html.ActionLink("Grupper", "EmployePage", "Employe", null, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item hidden">@Html.ActionLink("Logga ut", "LogOut", "Employe", null, new { @class = "nav-link pull-right" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="backgroundWhite" class="container body-content">
        @RenderBody()
        <hr />
        <footer class="testning">
            <div id="DivFooter">
                <div id="FooterFixerL">
                    <p class="footerMargin">Hagaströms SK</p>
                    <p class="footerMargin">Hagaströms IP, Basvägen 23</p>
                    <p class="footerMargin">kansli@hagastromssk.se</p>
                    <a class="footerMargin" href="http://www.hagastromssk.se">Till HSK hemsida</a>
                </div>
                <div id="FooterFixerR">
                    <p class="footerMargin">Strömsbro</p>
                    <p class="footerMargin">Testebovallen, Hillevägen 14</p>
                    <p class="footerMargin">kansli@stromsbroif.se</p>
                    <a class="footerMargin" href="http://www.stromsbroif.se">Till SIF hemsida</a>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
