@model IList<SommarkuleAlliansen.Models.caretaker>

@{
    ViewBag.Title = "Vårdnadshavare";
}
<style>
    .fourth-page {
        background-color: #B8BABC;
    }
    .three-items {
        background-color: #46484B;
        border-radius: 5px;
    }
</style>
@{bool justSentMessage = false;}
@using (Html.BeginForm("Caretaker", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="standardStyle table-responsive">
        <table class="table">
            <tr>
                <th class="PaddingCaretaker" style="border-top: none">
                    Namn
                </th>
                <th id="HideFromMobile4" class="PaddingCaretaker" style="border-top: none">
                    Nmr (+46)
                </th>
                <th id="HideFromMobile4" class="PaddingCaretaker" style="border-top: none">
                    Mail
                </th>
                <th id="HideFromMobile3" class="PaddingCaretaker" style="border-top: none">
                    Adress
                </th>
                <th id="HideFromMobile" class="PaddingCaretaker" style="border-top: none">
                    Barn
                </th>
                <th id="HideFromMobile2" class="PaddingCaretaker" style="border-top: none">
                    Betala
                </th>
                <th class="PaddingCaretaker" style="border-top: none">
                    Påminnelse
                </th>
                <td  style="border-top: none">Vårdnadshavare | @Html.ActionLink("Barn", "Child")</td>

            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                @if (Model.ElementAt(i).debt != 0)
                {

                    <td style="background-color: #ff8080" name="@Model.ElementAt(i).caretaker_name">
                        @Model[i].caretaker_name
                        @Html.HiddenFor(m => Model[i].caretaker_name)
                    </td>
                    <td id="HideFromMobile4" name="@Model.ElementAt(i).caretaker_number" style="background-color: #ff8080">
                        @Model[i].caretaker_number
                        @Html.HiddenFor(m => Model[i].caretaker_number)
                    </td>
                    <td id="HideFromMobile4" name="@Model.ElementAt(i).caretaker_email" style="background-color: #ff8080">
                        @Model[i].caretaker_email
                        @Html.HiddenFor(m => Model[i].caretaker_email)
                    </td>
                    <td id="HideFromMobile3" style="background-color: #ff8080" name="@Model.ElementAt(i).adress">
                        @Model[i].adress
                        @Html.HiddenFor(m => Model[i].adress)
                    </td>
                    <td id="HideFromMobile" style=" padding-left: 15px; background-color: #ff8080" name="@Model.ElementAt(i).count">
                        @Model[i].count
                        @Html.HiddenFor(m => Model[i].count) st
                    </td>
                    <td id="HideFromMobile2" style="background-color: #ff8080" name="@Model.ElementAt(i).debt">
                        @Model[i].debt
                        @Html.HiddenFor(m => Model[i].debt):-
                    </td>
                    <td style=" padding-left: 40px; padding-top: 0px; padding-bottom: 0px; background-color: #ff8080" name="@Model.ElementAt(i).selectedForEmail">
                        @Html.CheckBoxFor(m => Model[i].selectedForEmail, new { @class = "form-radio-css"})
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.ActionLink("Visa mer", "Details", new { id = Model.ElementAt(i).caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = Model.ElementAt(i).caretaker_id })
                    </td>
                }
                else
                {
                    <td style="background-color: #53c653" name="@Model.ElementAt(i).caretaker_name">
                        @Model[i].caretaker_name
                        @Html.HiddenFor(m => Model[i].caretaker_name)
                    </td>
                    <td id="HideFromMobile4" name="@Model.ElementAt(i).caretaker_number" style="background-color: #53c653">
                        @Model[i].caretaker_number
                        @Html.HiddenFor(m => Model[i].caretaker_number)
                    </td>
                    <td id="HideFromMobile4" style="background-color: #53c653" name="@Model.ElementAt(i).caretaker_email">
                        @Model[i].caretaker_email
                        @Html.HiddenFor(m => Model[i].caretaker_email)
                    </td>
                    <td id="HideFromMobile3" style="background-color: #53c653" name="@Model.ElementAt(i).adress">
                        @Model[i].adress
                        @Html.HiddenFor(m => Model[i].adress)
                    </td>
                    <td id="HideFromMobile" style="background-color: #53c653" name="@Model.ElementAt(i).count">
                        @Model[i].count
                        @Html.HiddenFor(m => Model[i].count)
                    </td>
                    <td id="HideFromMobile2" style="background-color: #53c653" name="@Model.ElementAt(i).caretaker_email">
                        @Model[i].debt
                        @Html.HiddenFor(m => Model[i].debt):-
                    </td>
                    <td style="background-color: #53c653"></td>
                    <td style="background-color: #53c653">
                        @Html.ActionLink("Visa mer", "Details", new { id = Model.ElementAt(i).caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = Model.ElementAt(i).caretaker_id })
                    </td>
                }
            </tr>
            }
        </table>
        <input type="submit" value="Skicka betalningspåmminelse" style="margin-bottom:3%;" class="btn btn-outline-secondary" />
    </div>
}