@model IEnumerable<SommarkuleAlliansen.Models.caretaker>

@{
    ViewBag.Title = "Vårdnadshavare";
}
@{bool justSentMessage = false;}
    @Html.AntiForgeryToken()
    <div class="standardStyle table-responsive">
        <table class="table">
            <tr>
                <th class="removeBorder">
                    Namn
                </th>
                <th class="removeBorder">
                    Nummer
                </th>
                <th class="removeBorder">
                    Mail
                </th>
                <th class="removeBorder">
                    Adress
                </th>
                <th class="removeBorder">
                    Antal barn
                </th>
                <th class="removeBorder">
                    Betala
                </th>
                <td class="removeBorder">Vårdnadshavare | @Html.ActionLink("Barn", "Child")</td>

            </tr>
            @foreach (var item in Model)
            {
            <tr>
                @if (item.debt != 0)
                {
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.caretaker_name)
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.caretaker_number)
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.caretaker_email)
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.adress)
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.DisplayFor(modelItem => item.debt):-
                    </td>
                    <td style="background-color: #ff8080">
                        @Html.ActionLink("Visa mer", "Details", new { id = item.caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = item.caretaker_id })
                    </td>
                }
                else
                {
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.caretaker_name)
                </td>
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.caretaker_number)
                </td>
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.caretaker_email)
                </td>
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.count)
                </td>
                <td style="background-color: #53c653">
                    @Html.DisplayFor(modelItem => item.debt):-
                </td>
                <td style="background-color: #53c653">
                    @Html.ActionLink("Visa mer", "Details", new { id = item.caretaker_id, justSentMessage = justSentMessage }) | @Html.ActionLink("Redigera", "Edit", new { id = item.caretaker_id })
                </td>
                }
            </tr>
            }
        </table>
    </div>