@model IEnumerable<SommarkuleAlliansen.ViewModel.ChildCaretakerLocationVM>

@{
    ViewBag.Title = "Barn";
}
<style>
    .fifth-page {
        background-color: #B8BABC;
    }
    .three-items {
        background-color: #46484B;
        border-radius: 5px;
    }
</style>
<div class="standardStyle table-responsive">
    <table class="table">
        <tr>
            <th id="RemovePaddingMobile" style="border-top: none">
                Namn
            </th>
            <th id="RemovePaddingMobile" style="border-top: none">
                <div class="ChangeContent2"><span>Födelsedatum</span></div>
            </th>
            <th id="HideFromMobile" style="border-top: none">
                Tröjstorlek
            </th>
            <th id="HideFromMobile3" style="border-top: none">
                Förening
            </th>
            <th id="HideFromMobile4" style="border-top: none">
                Period
            </th>
            <th id="HideFromMobile3" style="border-top: none;">
                Vårdnadshavare
            </th>
            <td id="RemovePaddingMobile" class="removeBorder" style="border-top: none">@Html.ActionLink("Vårdnadshavare", "Caretaker") | Barn</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @String.Format("{0:yyy/MM/dd}", item.birth_date) <span id="HideFromMobile">-@item.social_security</span>
                </td>
                <td id="HideFromMobile">
                    @Html.DisplayFor(modelItem => item.shirt_size)
                </td>
                <td id="HideFromMobile3">
                    @Html.DisplayFor(modelItem => item.location_name)
                </td>
                <td id="HideFromMobile4">
                    @Html.DisplayFor(modelItem => item.weeks)
                </td>
                <td id="HideFromMobile3">
                    @Html.ActionLink(Html.Raw(item.caretaker_name).ToString(), "Details", new { id = item.caretaker_id })
                </td>
                <td>
                    @Html.ActionLink("Visa mer", "DetailsChild", new { id = item.child_id }) |
                    @Html.ActionLink("Redigera", "EditChild", new { id = item.child_id })
                </td>
            </tr>
        }
    </table>
</div>
