@model IEnumerable<SommarkuleAlliansen.ViewModel.EmployeGroupLocationVM>

@{
    ViewBag.Title = "Lägg till anställd";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="standardStyle">
    <div class="form-horizontal">
        <h4 class="paddingLeft">Lägg till en ny anställd</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => Model.ElementAt(0).employe_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ElementAt(0).employe_id, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="paddingLeft">Typ av anställd: 1 = admin, 2 = ledare</label>
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ElementAt(0).employe_type, new { htmlAttributes = new { @class = "form-control", @name = "employe_type", @id = "employe_type", @required = "required" } })
                <p class="text-danger" id="errorMessage" style="visibility:hidden">Det får bara vara mellan 1-2</p>
            </div>
        </div>

        <div class="form-group">
            <label class="paddingLeft">Namn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ElementAt(0).name, new { htmlAttributes = new { @class = "form-control", @name = "name", @required = "required" } })
                <p class="text-danger">@ViewBag.Message</p>
            </div>
        </div>

        <div class="form-group">
            <label class="paddingLeft">Nummer</label>
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ElementAt(0).number, new { htmlAttributes = new { @class = "form-control", @name = "number", @required = "required" } })
                @Html.ValidationMessageFor(model => Model.ElementAt(0).number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="paddingLeft">Lösenord</label>
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ElementAt(0).password, new { htmlAttributes = new { @class = "form-control", @name = "password", @required = "required" } })
                @Html.ValidationMessageFor(model => Model.ElementAt(0).password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="paddingLeft">Ledare för grupp och period</label>
            <div class="col-md-10">
                <select style="width: 100%;" name="group_id">
                    @foreach (var item in Model)
                    {
                        <option value="@item.group_id">Gruppnummer: @item.group_id. Plats: @item.location_name. Årsgrupp: @item.birth_year, Antal veckor: @item.weeks</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="create" disabled="disabled" value="Create" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
    </div>
    }
<script>
    document.getElementById("employe_type").addEventListener("change", function () {
        var input = this.value;
        if (input > 2 || input < 1) {
            document.getElementById("errorMessage").style.visibility = "visible";
            document.getElementById("create").disabled = true;
        }
        else {
            document.getElementById("errorMessage").style.visibility = "hidden";
            document.getElementById("create").disabled = false;
        }
    });
</script>