@model SommarkuleAlliansen.Models.caretaker

@{
    ViewBag.Title = "Ta bort vårdnadshavare";
}

<div class="standardStyle">
    <h3>Är du säker på att du vill ta bort denna person?</h3>
    <dl class="dl-horizontal">
        <dt>
            Namn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caretaker_name)
        </dd>

        <dt>
            Nummer (+46):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caretaker_number)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caretaker_email)
        </dd>

        <dt>
            Adress:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            Alternativ kontaktperson:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alternative_name)
        </dd>

        <dt>
            Alternativ kontaktpersons nummer (+46):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alternative_number)
        </dd>

        <dt>
            Skuld:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debt)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" id="deleteButton" class="btn btn-outline-secondary" style="margin-bottom: 10px;"/> |
            @Html.ActionLink("Backa", "Caretaker")
            <p class="text-danger" style="visibility:hidden" id="remainingDebt">Går inte att ta bort vårdnadshavare med kvarstående skuld eller som väntar på återbetalning.</p>
        </div>
    }
</div>
<script>
    window.onload = onPageLoad();

    function onPageLoad() {
        if (@Model.debt != 0) {
            document.getElementById("deleteButton").disabled = true;
            document.getElementById("remainingDebt").style.visibility = "visible";
        }
        }
</script>