@model SommarkuleAlliansen.ViewModel.ChildCaretakerLocationVM

@{
    ViewBag.Title = "Barn detaljer";
}
<div>
    <dl class="dl-horizontal">
        <div style="margin-top: 5%; opacity: 0.9;" class="clearfix">
            <div class="box detailsChild">
                <h4>Vårdnadshavare</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.ActionLink(Model.caretaker_name, "Details", "Admin", new { id = Model.caretaker_id }, null)</p>
                <b style="margin-bottom: 0px;">Nummer (+46):</b>
                <p>@Html.DisplayFor(model => model.caretaker_number)</p>
                <b style="margin-bottom: 0px;">Email:</b>
                <p>@Html.DisplayFor(model => model.caretaker_email)</p>
                <b style="margin-bottom: 0px;">Adress:</b>
                <p>@Html.DisplayFor(model => model.adress)</p>
                <b style="margin-bottom: 0px;">Alternativt Namn:</b>
                <p>@Html.DisplayFor(model => model.alternative_name)</p>
                <b style="margin-bottom: 0px;">Alternativt Nummer (+46):</b>
                <p>@Html.DisplayFor(model => model.alternative_number)</p>
                @if (ViewBag.Item == "1")
                {
                    <hr />
                    <p class="removeMarginBottom">@Html.ActionLink("Redigera vårdnadshavare", "Edit", "Admin", new { id = Model.caretaker_id }, null)</p>
                }
            </div>
            <div class="box detailsChild">
                <h4>Barn</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.DisplayFor(model => model.name)</p>
                <b style="margin-bottom: 0px;">Födelsedatum:</b>
                <p>@String.Format("{0:yyy/MM/dd}", Model.birth_date)-@Model.social_security</p>
                <b style="margin-bottom: 0px;">Tröjstorlek:</b>
                <p>@Html.DisplayFor(model => model.shirt_size)</p>
                <b style="margin-bottom: 0px;">Kommentar:</b>
                <p>@Model.comment</p>
                <b style="margin-bottom: 0px;">Allergier:</b>
                <p>@Model.allergy_comment</p>
                <b style="margin-bottom: 0px;">Simmkunnighet:</b>
                <p>@Html.EditorFor(model => model.can_swim, new { htmlAttributes = new { @class = "form-radio-css", @name = "vaccinated", @disabled = "disabled" } })</p>
                <b style="margin-bottom: 0px;">Tillåt att barnet är med på foton:</b>
                <p>@Html.EditorFor(model => model.allow_photos, new { htmlAttributes = new { @class = "form-radio-css", @name = "vaccinated", @disabled = "disabled" } })</p>
                <b style="margin-bottom: 0px;">Barnet vaccinerat mot stelkramp:</b>
                <p>@Html.EditorFor(model => model.vaccinated, new { htmlAttributes = new { @class = "form-radio-css", @name = "vaccinated", @disabled = "disabled" } })</p>
                <b style="margin-bottom: 0px;">Barnet blev registrerat:</b>
                <p>@Html.DisplayFor(model => model.registration_date)</p>
                @if (ViewBag.Item == "1")
                {
                    <hr />
                    <p class="removeMarginBottom">@Html.ActionLink("Redigera barn", "EditChild", "Admin", new { id = Model.child_id }, null)</p>
                }


            </div>
            <div class="box specialStyle" style="border-radius: 5px; background-color:white;">
                <h4>Förening och veckor</h4>
                <hr />
                <b style="margin-bottom: 0px;">Namn:</b>
                <p>@Html.DisplayFor(model => model.location_name)</p>
                <b style="margin-bottom: 0px;">Adress:</b>
                <p>@Html.DisplayFor(model => model.location_adress)</p>
                <b style="margin-bottom: 0px;">Anmäld för Period:</b>
                <p>@Html.DisplayFor(model => model.weeks)</p>
            </div>
        </div>
    </dl>
</div>