@model IList<SommarkuleAlliansen.ViewModel.ChildGroupLocationVM>

@{
    ViewBag.Title = "Redigera Barn";
    int shirtSizes = 80;
    int lastIndex = Model.Count - 1;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="standardStyle">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group removeDisplay">
                @Html.LabelFor(model => Model.ElementAt(lastIndex).child_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).child_id, new { htmlAttributes = new { @class = "form-control", @name = "child_id", @required = "required" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).child_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Namn</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).name, new { htmlAttributes = new { @class = "form-control", @name = "name", @required = "required" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Födelsedatum</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).birth_date, new { htmlAttributes = new { @class = "form-control", @name = "birth_date", @required = "required" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).birth_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Sista fyra</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).social_security, new { htmlAttributes = new { @class = "form-control", @name = "social_security", @required = "required" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).social_security, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Tröjstorlek</label>
                <div class="col-md-10">
                    <select name="shirtSize" id="shirtsizes" required>
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i <= 3)
                            {
                                <option value="@shirtSizes CL" id="@i">@shirtSizes CL</option>
                                shirtSizes += 20;
                            }
                            else
                            {
                                <option value="Small" id="4">Small</option>
                                <option value="Medium" id="5">Medium</option>
                                <option value="Large" id="6">Large</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="paddingLeft">Ledare för plats och årsgrupp</label>
                <div class="col-md-10">
                    <select style="width: 100%;" id="locations" name="group_id">
                        @for (int i = 0; i < lastIndex; i++)
                        {
                            <option value="@Model.ElementAt(i).group_id">Plats: @Model.ElementAt(i).location_name. Årsgrupp: @Model.ElementAt(i).birth_year. Vecka: @Model.ElementAt(i).weeks</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="paddingLeft">Allergier</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).allergy_comment, new { htmlAttributes = new { @class = "form-control", @name = "allergy_comment" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).allergy_comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="paddingLeft">Kommentar</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.ElementAt(lastIndex).comment, new { htmlAttributes = new { @class = "form-control", @name = "comment" } })
                    @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Simmkunnig</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => Model.ElementAt(lastIndex).can_swim, new { htmlAttributes = new { @class = "form-radio-css", @name = "can_swim" } })
                        @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).can_swim, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Tillåt foto</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => Model.ElementAt(lastIndex).allow_photos, new { htmlAttributes = new { @class = "form-radio-css", @name = "allow_photos" } })
                        @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).allow_photos, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="paddingLeft">Vaccinerat</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => Model.ElementAt(lastIndex).vaccinated, new { htmlAttributes = new { @class = "form-radio-css", @name = "vaccinated" } })
                        @Html.ValidationMessageFor(model => Model.ElementAt(lastIndex).vaccinated, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spara" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    window.onload = onPageLoad();

    function onPageLoad() {
        document.getElementById("locations").value = @Model.ElementAt(lastIndex).group_id;
    }
</script>